[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pep8 = "*"

[packages]
pymysql = "*"
django = "==2.1"
django-bootstrap4 = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python manage.py runserver"
lint = "flake8 ."
fix = "autopep8 -ivr ."
